{% extends 'accounts/basic.html' %}
{% block title %}
Reset Password
{% endblock %}
{% block body %}
<div class="container mt-3">
     <h3 class="text-center" style="display: block; text-align: center">Forgot Password ?</h3>
<div class="row mt-0  d-flex justify-content-center">


    {% load static %}

    <img class="img-fluid " src='{% static "accounts/image/lock.jpeg" %}' alt="">
</div>
    <div class="row d-flex justify-content-center">
        <h5 class="w-50">Enter your email address below and we'll email you the instructions to reset the password.</h5>

    </div>
    <div class="row d-flex justify-content-center">
        <form method="post">
            {% csrf_token %}
            {{ form }}
            <input type="submit" name="send email">
        </form>
    </div>
    </div>
{% endblock %}